.li_link{
    display: inline-block;
    padding: 10px;
    font-size: 15px;
    text-decoration: none;
    color: #000000;
}

.card:hover{
    transform:  scale(1.05);
}

.card{
    transition: transform .3s;
}